name: CI

on:
  push:
    branches:
      - develop
      - feature/**
      - hotfix/**
  pull_request:
    branches:
      - develop

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_DB: sentinels_db
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install Postgres Client
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Wait for Postgres
        run: |
          until pg_isready -h localhost -p 5432 -U test; do
            sleep 1
          done

      - name: Run migrations
        env:
          CI: "true"
          PYTHONPATH: src/backend # Para que encuentre 'backend.vault'
        run: python src/backend/manage.py migrate

      - name: Run tests
        env:
          CI: "true"
          PYTHONPATH: src/backend
        run: python src/backend/manage.py test

