name: Release Validation

on:
  push:
    branches:
      - release/v*

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt
      - run: python src/backend/manage.py test
